Repository qiboteam/qibolab, pull requests merged in 2022-11, with the labels that each got.

#215 Fix transpiler_native
  src/qibolab/tests/test_transpilers_native.py
  src/qibolab/transpilers/native.py
Labels: transpiler

#210 From rtd to furo sphinx theme
  doc/source/conf.py
Labels: documentation

#223 improved gate decomposition
  src/qibolab/tests/test_transpilers_native.py
  src/qibolab/transpilers/decompositions.py
  src/qibolab/transpilers/native.py
Labels: enhancement

#235 Use arbitrary queue names for qpu tests
  .github/workflows/selfhosted.yml
Labels: tests, run-on-tii1qs, run-on-qw5q_gold

#230 qw5q_gold runcard
  src/qibolab/platform.py
  src/qibolab/runcards/qw5q_gold.yml
Labels: platform

#199 Add workflow for qpu1q
  .github/workflows/rules.yml
  .github/workflows/selfhosted.yml
  src/qibolab/tests/conftest.py
  src/qibolab/tests/test_backends.py
  src/qibolab/tests/test_platforms_multiqubit.py
  src/qibolab/tests/test_transpilers_connectivity.py
  src/qibolab/tests/test_transpilers_decompositions.py
  src/qibolab/tests/test_transpilers_transpile.py
Labels: tests
