Repository qiboteam/qibolab, pull requests merged in 2023-01, with the labels that each got.

#251 Update qblox-instruments to version 0.7.0
  setup.py
  src/qibolab/instruments/qblox.py
Labels: drivers, urgent

#264 tii1q_b1 QPU runcard
  setup.py
  src/qibolab/instruments/qblox.py
  src/qibolab/runcards/tii1q_b1.yml
Labels: runcard

#267 Fix initialisation issue
  src/qibolab/instruments/qblox.py
Labels: bug, drivers

#268 New runcard for SD 1q chip tii1q_b4_200U
  src/qibolab/runcards/tii1q_b4_200U.yml
Labels: runcard

#272 Fix minor bug in loading the platform native two-qubit gates
  src/qibolab/platforms/abstract.py
Labels: bug

#269 Update runcards qubit_channel_map
  .github/workflows/rules.yml
  src/qibolab/runcards/dummy.yml
  src/qibolab/runcards/multiqubit_icarusq.yml
  src/qibolab/runcards/multiqubit_icarusqfpga.yml
  src/qibolab/runcards/qili.yml
  src/qibolab/runcards/tii1q_b1.yml
  src/qibolab/runcards/tii1q_b4_200U.yml
Labels: urgent, runcard, run-on-tii1q_b1

#257 Generic 5q hardware middle qubit
  src/qibolab/tests/test_transpilers_connectivity.py
  src/qibolab/tests/test_transpilers_transpile.py
  src/qibolab/transpilers/connectivity.py
  src/qibolab/transpilers/transpile.py
Labels: transpiler

#229 Add new section in Qibolab website
  doc/source/conf.py
  doc/source/developer-guides/general.rst
  doc/source/getting-started/index.rst
  doc/source/getting-started/lab.rst
  doc/source/getting-started/qibolab_workflow.png
  setup.py
Labels: documentation
