Repository qiboteam/qibolab, pull requests merged in 2023-02, with the labels that each got.

#259 Quantum Machines driver using InstrumentDesign
  setup.py
  src/qibolab/backends.py
  src/qibolab/designs/__init__.py
  src/qibolab/designs/basic.py
  src/qibolab/designs/channels.py
  src/qibolab/designs/mixer.py
  src/qibolab/instruments/abstract.py
  src/qibolab/instruments/dummy_oscillator.py
  src/qibolab/instruments/qm.py
  src/qibolab/instruments/qmsim.py
  src/qibolab/instruments/rohde_schwarz.py
  src/qibolab/platform.py
  src/qibolab/platforms/abstract.py
  src/qibolab/platforms/icplatform.py
  src/qibolab/platforms/multiqubit.py
  src/qibolab/platforms/platform.py
  src/qibolab/pulses.py
  src/qibolab/result.py
  src/qibolab/runcards/qw5q_gold.yml
  src/qibolab/sweeper.py
  tests/test_designs_channels.py
  tests/test_instruments_qm.py
  tests/test_pulses.py
  tests/test_result.py
Labels: platform, drivers

#256 Instrument tests independent of platform
  .github/workflows/selfhosted.yml
  src/qibolab/backends.py
  src/qibolab/designs/mixer.py
  src/qibolab/instruments/qm.py
  src/qibolab/runcards/qw5q_gold.yml
  src/qibolab/transpilers/connectivity.py
  tests/conftest.py
  tests/test_backends.py
  tests/test_instruments_qblox.py
  tests/test_instruments_qblox.yml
  tests/test_instruments_qutech.py
  tests/test_instruments_qutech.yml
  tests/test_instruments_rohde_schwarz.py
  tests/test_instruments_rohde_schwarz.yml
  tests/test_platform.py
  tests/test_platforms_multiqubit.py
  tests/test_platforms_multiqubit.yml
Labels: tests, run-on-qw5q_gold, run-on-qili1q_os2

#293 Introducing software sweeper for qblox
  doc/source/api-reference/qibolab.rst
  src/qibolab/instruments/qblox.py
  src/qibolab/platforms/abstract.py
  src/qibolab/platforms/dummy.py
  src/qibolab/platforms/multiqubit.py
  src/qibolab/result.py
  src/qibolab/runcards/dummy.yml
  src/qibolab/runcards/qili1q_os2.yml
  src/qibolab/sweeper.py
  tests/test_platforms_dummy.py
  tests/test_result.py
Labels: enhancement

#308 Update QM sweep and add Sweeper checks
  src/qibolab/instruments/qm.py
  src/qibolab/sweeper.py
  tests/test_platforms_dummy.py
  tests/test_sweeper.py
Labels: enhancement, drivers

#313 Fix bug in `ExecutionResults`
  src/qibolab/result.py
Labels: bug, urgent

#266 Upload coverage from selfhosted
  .github/workflows/selfhosted.yml
  pyproject.toml
  qputests.sh
Labels: tests, run-on-qw5q_gold
