Repository qiboteam/qibolab, pull requests merged in 2024-01, with the labels that each got.

#734 Remove query to devices to get port values
  src/qibolab/instruments/qblox/port.py
Labels: qblox

#709 Migrate Pulse to dataclass
  flake.nix
  poetry.lock
  pyproject.toml
  src/qibolab/pulses.py
  tests/test_instruments_qm.py
  tests/test_pulses.py
Labels: cleanup

#739 Remove platform start and stop
  README.md
  doc/source/main-documentation/qibolab.rst
  doc/source/tutorials/instrument.rst
  doc/source/tutorials/pulses.rst
  doc/source/tutorials/transpiler.rst
  examples/fidelity_example.py
  examples/minimum_working_example.py
  src/qibolab/backends.py
  src/qibolab/channels.py
  src/qibolab/couplers.py
  src/qibolab/dummy.py
  src/qibolab/instruments/abstract.py
  src/qibolab/instruments/dummy.py
  src/qibolab/instruments/oscillator.py
  src/qibolab/instruments/port.py
  src/qibolab/instruments/qblox/cluster_qcm_bb.py
  src/qibolab/instruments/qblox/controller.py
  src/qibolab/instruments/qm/driver.py
  src/qibolab/instruments/qutech.py
  src/qibolab/instruments/rfsoc/driver.py
  src/qibolab/instruments/zhinst.py
  src/qibolab/platform.py
  src/qibolab/qubits.py
  tests/conftest.py
  tests/dummy_qrc/qm.py
  tests/dummy_qrc/rfsoc.py
  tests/dummy_qrc/zurich.py
  tests/test_backends.py
  tests/test_dummy.py
  tests/test_instruments_erasynth.py
  tests/test_instruments_oscillator.py
  tests/test_instruments_qblox_cluster_qcm_bb.py
  tests/test_instruments_qblox_cluster_qcm_rf.py
  tests/test_instruments_qblox_cluster_qrm_rf.py
  tests/test_instruments_qm.py
  tests/test_instruments_qmsim.py
  tests/test_instruments_qutech.py
  tests/test_instruments_rfsoc.py
  tests/test_instruments_rohde_schwarz.py
  tests/test_instruments_zhinst.py
  tests/test_platform.py
Labels: cleanup

#740 Drop start() and stop() in each qblox module
  src/qibolab/instruments/qblox/cluster_qcm_bb.py
  src/qibolab/instruments/qblox/cluster_qcm_rf.py
  src/qibolab/instruments/qblox/cluster_qrm_rf.py
  src/qibolab/instruments/qblox/controller.py
  tests/test_instruments_qblox_cluster_qcm_bb.py
  tests/test_instruments_qblox_cluster_qcm_rf.py
  tests/test_instruments_qblox_cluster_qrm_rf.py
Labels: qblox

#735 Introduce crosstalk_matrix as `Qubit` attribute
  src/qibolab/dummy.yml
  src/qibolab/qubits.py
Labels: enhancement, calibration

#766 Rename Qblox module classes
  src/qibolab/instruments/qblox/cluster_qcm_bb.py
  src/qibolab/instruments/qblox/cluster_qcm_rf.py
  src/qibolab/instruments/qblox/cluster_qrm_rf.py
  src/qibolab/instruments/qblox/controller.py
  src/qibolab/instruments/qblox/module.py
  tests/dummy_qrc/qblox.py
  tests/test_instruments_qblox.py
  tests/test_instruments_qblox_cluster_qcm_bb.py
  tests/test_instruments_qblox_cluster_qcm_rf.py
  tests/test_instruments_qblox_cluster_qrm_rf.py
Labels: qblox
