Repository qiboteam/qibolab, pull requests merged in 2024-02, with the labels that each got.

#728 ToF routine for qblox
  src/qibolab/instruments/qblox/acquisition.py
  src/qibolab/instruments/qblox/cluster_qrm_rf.py
  src/qibolab/instruments/qblox/controller.py
Labels: qblox

#719 Sweeping offset values instead of flux pulses on Zurich
  src/qibolab/instruments/zhinst.py
  tests/test_instruments_zhinst.py
Labels: zhinst

#800 Modify qrm_rf driver so that qrm_rf modules can be used as qcm_rf to generate drive pulses.
  src/qibolab/instruments/qblox/cluster_qrm_rf.py
Labels: enhancement

#738 Sequence unrolling with QM
  src/qibolab/instruments/qm/__init__.py
  src/qibolab/instruments/qm/acquisition.py
  src/qibolab/instruments/qm/config.py
  src/qibolab/instruments/qm/controller.py
  src/qibolab/instruments/qm/sequence.py
  src/qibolab/instruments/qm/simulator.py
  src/qibolab/platform.py
  src/qibolab/result.py
  tests/dummy_qrc/qm_octave/platform.py
  tests/test_instruments_qm.py
  tests/test_instruments_qmsim.py
  tests/test_result_shapes.py
Labels: qm
