Repository qiboteam/qibolab, pull requests merged in 2025-07, with the labels that each got.

#1245 Qblox: Fix single shot routine for iqm5q
  src/qibolab/_core/instruments/qblox/q1asm/ast_.py
  src/qibolab/_core/instruments/qblox/sequence/experiment.py
  src/qibolab/_core/instruments/qblox/sequence/loops.py
  src/qibolab/_core/instruments/qblox/sequence/program.py
Labels: qblox

#1211 Decouple qutip engine from emulator
  src/qibolab/_core/instruments/emulator/emulator.py
  src/qibolab/_core/instruments/emulator/engine/__init__.py
  src/qibolab/_core/instruments/emulator/engine/abstract.py
  src/qibolab/_core/instruments/emulator/engine/qutip.py
  src/qibolab/_core/instruments/emulator/hamiltonians.py
Labels: enhancement, emulator

#1259 Allow `Align` in emulator
  src/qibolab/_core/instruments/emulator/emulator.py
  src/qibolab/_core/instruments/emulator/results.py
  tests/instruments/emulator/test_emulator.py
Labels: enhancement
